{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Все посты пользователя {{ author }}</h1>
    <h3>Всего постов: {{ author.posts.count }}</h3>
    <div class="mb-5">
      {% if following %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
       {% endif %}
    </div>
    {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }} {{ post.author.username }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "400x400" crop="center" as im %}
      <img class="card-img my-2" src="{{ post.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %} 
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      {% if post.group %}
      <li class="list-group-item">
        Группа {{ post.group }}
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      </li>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
  {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}
